@font-face {
    font-family: 'The Seasons';
    src: url('TheSeasonsBoldItalic.woff2') format('woff2'),
        url('TheSeasonsBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('TheSeasonsBold.woff2') format('woff2'),
        url('TheSeasonsBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('TheSeasonsItalic.woff2') format('woff2'),
        url('TheSeasonsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('TheSeasonsLightItalic.woff2') format('woff2'),
        url('TheSeasonsLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('TheSeasonsLight.woff2') format('woff2'),
        url('TheSeasonsLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('TheSeasonsRegular.woff2') format('woff2'),
        url('TheSeasonsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

